ul.media-list{
  list-style: none;
  padding: 0;

  li.media{
    div{
      &.media-left{
        display: table-cell;
        padding-right: 10px;

        img{
          width: 80px;
          height: 80px;
        }
      }

      &.media-body{
        display: table-cell;
        vertical-align: top;

        h4 {
          margin-top:10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
