@import './variables.scss';

.pointer{
  cursor: pointer;
}

.default{
  cursor: default;
}

.no-select{
  user-select: none;
}

.fa-twitter {
  color: $color-brand-twitter;
}

.fa-link{
  color: $color-text-gray;
}

.fa-youtube{
  color: $color-brand-youtube;
}

.fa-instagram{
  color: $color-brand-instagram;
}

.fa-facebook {
  color: $color-brand-facebook;
}

.social-networks {
  text-align: center;

  .networks-inline-list{
    span{
      margin: 10px;
      cursor: pointer;

      &:active, &:focus{
        outline: none;
      }
    }
  }
}

a[href]{
  color: $color-text-blue;
  text-decoration: none;

  &:hover{
    color: $color-text-orange;
  }
}

.container {
  @media screen and (min-width: $lg-desktop-min-width) {
    margin: 0 auto;
    width: 1140px;
  }
}

.nuxt-content{
  font-size: 1.25em;
  line-height: 1.625;
  text-align: justify;

  > h1{
    font-size: 50px;
    margin: 0;
  }

  .el-card{
    &.gray-background{
      background-color: rgba(190, 190, 190, 0.3)
    }
  }
}

.text-justified{
  text-align: justify;
}

.project-technologies{
  margin-top: 4px;

  .technologies-label{
    line-height: 40px;
    vertical-align: top;
    display: inline-block;
  }
}

.project-link{
  margin-top: 7px;
}
